%h1.title 取引タイプ
%table
  %tbody
    %tr
      %th 種類
      %th 信用取引
      %th 先物取引
    %tr
      %td
        = 1
      %td
      %td
%h1.title 入金方法
%table
  %tbody
    %tr
      %th 日本円入金方法
      %th 提携銀行
      %th
    %tr
      %td
        = 1
      %td
      %td
%h1.title 手数料
%table
  %tbody
    %tr
      %th 現物取引手数料
      %th 信用・先物取引関係
      %th 日本円出金手数料
    %tr
      %td
        = 1
      %td
      %td
%h1.title その他
%table
  %tbody
    %tr
      %th 取引最小単位
      %th 入金ボーナス
      %th 損害保険
    %tr
      %td
        = 1
      %td
      %td
    %tr
      %th サポート時間
      %th サポート体制
      %th デモ
    %tr
      %td
        = 1
      %td
      %td
%p.description
  = @exchange.description