%table
  %tbody
    %tr
      %th 略称
      %th 購入可能通貨
      %th 公開日
    %tr
      %td
        = @crypto_currency.symbol
      %td
        = @crypto_currency.purchasable_currency
      %td
        = @crypto_currency.released_at.nil? ? '-' : @crypto_currency.released_at
    %tr
      %th ホワイトペーパー
      %th ブログ
      %th
    %tr
      %td
        = @crypto_currency.white_paper.empty? ? '-' : @crypto_currency.white_paper
      %td
        = @crypto_currency.blog.empty? ? '-' : @crypto_currency.blog
      %td
%p.description
  = @crypto_currency.description