%h1 Listing crypto_currencies

%table
  %thead
    %tr
      %th Name
      %th Overview
      %th Description
      %th Symbol
      %th Purchasable currency
      %th Released at
      %th White paper
      %th Blog
      %th Fund raised amount
      %th Initial price
      %th Platform
      %th Token upper limit
      %th Token sale supply amount
      %th Key name
      %th
      %th
      %th

  %tbody
    - @crypto_currencies.each do |crypto_currency|
      %tr
        %td= crypto_currency.name
        %td= crypto_currency.overview
        %td= crypto_currency.description
        %td= crypto_currency.symbol
        %td= crypto_currency.purchasable_currency
        %td= crypto_currency.released_at
        %td= crypto_currency.white_paper
        %td= crypto_currency.blog
        %td= crypto_currency.fund_raised_amount
        %td= crypto_currency.initial_price
        %td= crypto_currency.platform
        %td= crypto_currency.token_upper_limit
        %td= crypto_currency.token_sale_supply_amount
        %td= crypto_currency.key_name
        %td= link_to 'Show', crypto_currency
        %td= link_to 'Edit', edit_crypto_currency_path(crypto_currency)
        %td= link_to 'Destroy', crypto_currency, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Crypto currency', new_crypto_currency_path
