%div.container
  %div.box_left
    %div.coin_overview_card
      %div
        = image_tag @crypto_currency.icon_image.url, :class => 'icon'
        .message
          %p.title
            = @crypto_currency.name
          %p.description
            = @crypto_currency.overview
        %a.home_button.ripple{:href => 'https://coincheck.com/ja/'}
          = t('.homepage')
      %p.border
      .compare_button_container
        .compare_button.selected#minute
          = "1分unko"
        .compare_button#hour
          = "1時間"
        .compare_button#day
          = "1日"
      .chart_container
        .compare_spinner
          = render 'shared/spinner'
        %canvas#myChart{:height => "200", :width => "400"}
    %div.detail_card
      %ul.tab
        %li.select 詳細
        %li ICO
        %li 取扱取引所
      %ul.content
        %div.main
          = render 'detail'
        %div.main.hide
          = render 'ico'
        %div.main.hide
          = render 'crypto_currency'

  %div.box_right
    %div.twitter_card
      %a.twitter-timeline{:href => "https://twitter.com/coincheckjp?ref_src=twsrc%5Etfw", "height" => '400px', "data-tweet-limit" => "1",  }
      %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
    %div.coin_card
      %h3.title 関連取引所
      %ul
        .card_border
        - @crypto_currencies.each do |crypto_currency|
          %li.list{:href => crypto_currency.slug, :tabindex => "0"}
            %div
              = image_tag crypto_currency.icon_image.url, :class => 'coin_icon'
              %p.coin_title
                = crypto_currency.name
  .article_container
    %p.card_title
      = "#{@crypto_currency.name}に関する記事"
    .article
      - [1, 2, 3, 4].each do |crypto_currency|
        %div.article_card
          = image_tag image_url('bitcoinjpjj.jpg'), :class => 'image'
          %p.title
            = @crypto_currency.name
          %p.description
            = @crypto_currency.overview
